#include "framectl.h"

BITMAP HELP_BUTTON_ID   help.bmp
BITMAP HELP_BUTTON2_ID  helpmrln.bmp
BITMAP CATS_BMP_ID      anicat.bmp

MENU FRAME_WND_ID
BEGIN
  SUBMENU "~File",  MI_FILE
  BEGIN
    MENUITEM "E~xit",  MI_FILE_EXIT
  END
  SUBMENU "~Cat",  MI_CAT
  BEGIN
    MENUITEM "~Start",  MI_CAT_START
    MENUITEM "S~top",  MI_CAT_STOP
  END
END

STRINGTABLE
  BEGIN
    MI_FILE,      "File Menu"
    MI_FILE_EXIT, "Exit the sample"
    MI_CAT,       "Cat Menu"
    MI_CAT_START, "Start the animation"
    MI_CAT_STOP,  "Stop the animation"
  END
